body {
    background-image: url(roma-kaiuk-9vlGWE6A7Ws-unsplash.jpg);
    background-size: cover;
    /* opacity: 0.5; */
    font-family: "Courier New", monospace;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10%;
}

h2, a {
    color: red;
    /* border: 3px solid red; */
    cursor: pointer;
    text-align: left;
    text-decoration: none;
}
